
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #beb8e9; /* soft purple */
}


.card {
  width: 250px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-price {
  font-size: 16px;
  color: green;
  margin-bottom: 10px;
}

.card-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.details-btn {
  width: 100%;
  padding: 10px;
  background: #646cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.details-btn:hover {
  background: #4c56d0;
}
